.carousel-item {
  height: 190px;
}

/* XS */
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item {
    height: 300px;
  }
}

/* SM */
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-item {
    height: 350px;
  }
}

/* MD */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-item {
    height: 450px;
  }
}

/* LG */
@media (min-width: 1200px) {
  .carousel-item {
    height: 500px;
  }
}

/* Specific screens */
@media (min-width: 420px) and (max-width: 576px) {
  .destination-col {
    width: 50%;
  }
}
