.carousel-item {
  height: 190px;
}

.slide-btn{
  background-color: #78bc71;
}

.slide-btn:hover{
  background-color: white;
  color: black;
  border: 1px solid #78bc71;
}

/* XS */
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item {
    height: 300px;
  }
}

/* SM */
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-item {
    height: 350px;
  }
}

/* MD */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-item {
    height: 450px;
  }
}

/* LG */
@media (min-width: 1200px) {
  .carousel-item {
    height: 500px;
  }
}

/* Specific screens */
@media (max-width: 576px) {
  .destination-row{
    justify-content: center;
  }
  .destination-col {
    max-width: 300px;
  }
}
